body{
    background-image: url('/static/img/bg-1.jpg');
    /* opacity: 0.5; */
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}
.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: fit-content;
    margin-top: 5%;
    margin-right: 3%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

