/* footer 영역 */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
    color: white;
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
    color:#44bae8;
    font-size: 16px;
    text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

    
@media (max-width:500px) {
    .footer-menu ul{
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
}