<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도로 정찰대🌆</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Homeapp/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Homeapp/fullpage.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/Homeapp/fullpage.extensions.min.js' %}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/Homeapp/fullpage.js' %}" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="#">도로정찰대</a>
        </div>
        <div class="account">
            <a href="#">로그인</a></li>
            <a href="#">회원가입</a>
        </div>
    </div>
   
    {% block content %}
    {% endblock %}

    
</body>

</html>