{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="map_wrap">
    <div id="map" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>

    <div id="menu_wrap" class="bg_white">
        <div class="option">
            <div>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" style="display:none;">
                    <input type="text" name="q" value="" id="keyword" placeholder="예)대구광역시 동구" size="15"> 
                    <button id="searchBtn" type="button" >검색하기</button> 
                </form>
            </div>
        </div>
        <hr>
        <ul id="placesList"></ul>
        <div id="pagination"></div>
    </div>

    <!-- 신고하기 모달 창 div 입니다 -->
    <div class="modal hidden">
        <div class="bg"></div>
        <div class="modalBox">
            <div class="report_title">
              <h1>지도 정보 수정</h1>
              <button id="modal_closeBtn" class="closeBtn">✖</button>
            </div>
            <div class="report_content">
                <form action="{% url 'report' %}" method="post">
                    {% csrf_token %}
                    <h2>수정 요청</h2>
                    <input type="hidden" id="Token" name="lane_id">
                    <textarea type="text" name="content" class="report_text" placeholder="지도 정보에 문제가 있으신가요? 문의사항을 자유롭게 작성해주세요. &#13;&#10;-대구광역시 북구 대현로 며칠전에 차선 도색 되었어요.&#13;&#10;-대구광역시 북구 석형동 차선 손상이 심해요."></textarea>
                    <h2>파일 업로드</h2>
                    <input type="file" name="report_img" class="file_upload">
                    <button type="submit" class="closeBtn">신고 하기</button> 
                </form>
            </div>
        </div>
    </div>

    <!-- 지도타입 컨트롤 div 입니다 -->
    <div class="custom_typecontrol radius_border">
        <span id="btnRoadmap" class="selected_btn" onclick="setMapType('roadmap')">지도</span>
        <span id="btnSkyview" class="btn" onclick="setMapType('skyview')">스카이뷰</span>
    </div>

    <!-- 지도 확대, 축소 컨트롤 div 입니다 -->
    <div class="custom_zoomcontrol radius_border"> 
        <span onclick="zoomIn()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_plus.png" alt="확대"></span>  
        <span onclick="zoomOut()"><img src="https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/ico_minus.png" alt="축소"></span>
    </div>

    <div class="menucontrol">
        <a href="{% url 'home' %}"><img id="home_btn" src="{% static 'img/home-btn.png' %}" alt=""></a>
        <a href="{% url 'mypage' %}"><img id="mypage_btn" src="{% static 'img/mypage-btn.png' %}" alt=""></a>
    </div>

</div>


<script type="text/javascript">
    /* 전체 마커 JSON 값 리턴을 위한 ajax통신 */
    $.ajax({
        url: "{% url 'getApi' %}",
        async: false, 
        dataType: "json",
        success: function (data) {
            gbl_data = data;
        },
        error: function (request, status, error) {
            console.log('실패');
        }
    });
</script>
<script>
    // 마커를 담을 배열입니다
    var markers = [];

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            mapTypeId: kakao.maps.MapTypeId.SKYVIEW,
            center: new kakao.maps.LatLng(35.8605262889259, 128.5923020419), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
    };  

    // 지도를 생성합니다    
    var map = new kakao.maps.Map(mapContainer, mapOption); 

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png"; 
    // 마커 이미지의 이미지 크기 입니다
    var imageSize = new kakao.maps.Size(24, 35); 
    // 마커 이미지를 생성합니다    
    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize); 

    // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    /* 전체 마커 찍기 */
    for(let i=0; i < gbl_data.length; i++){
        var pk = gbl_data[i].pk;
        var data = gbl_data[i].fields;
        // console.log(data);
        // console.log(pk);
        displayMarker(data, pk);
    }

    /* 검색한 위치 마커 JSON 값 리턴을 위한 ajax통신 */
    $('#searchBtn').click(function(){
        $.ajax({
            url: "{% url 'getSearchApi' %}",
            async : false,
            type : "post",
            data :  {
                    keyword : $('#keyword').val()    
                    },
            dataType: "json",
            success: function (data) {
                gbl_search_data = data;
                displaySearchMarker(data);
            },
            error: function (request, status, error) {
                console.log('실패');
            }
            })
    })

    // 지도에 마커를 표시하는 함수입니다 





function displayMarker(data, pk) {
        var marker = new kakao.maps.Marker({
            map: map,
            image: markerImage,
            position: new kakao.maps.LatLng(data.latitude, data.longitude),
        });

        var content = document.createElement('div');
        content.className = 'wrap';

        var info = document.createElement('div');
        info.className = "info";
        content.appendChild(info);

        var overlay = new kakao.maps.CustomOverlay({
            content: content,
            yAnchor: 3,
            position: marker.getPosition()
        });

        kakao.maps.event.addListener(marker, 'click', function() {
            overlay.setMap(map);
        });



        {% comment %} // content HTMLElement 생성


        // title div 생성 -> 주소, report, bookmark, closeBtn 내용 포함
        var title = document.createElement('div');
        title.className = "title";        
        title.appendChild(document.createTextNode(data.road_address + ' 인근'));
        
        // report div 생성
        var report = document.createElement('div');
        report.className = "report";

        var report_img = document.createElement("img");
        report_img.setAttribute("id","reportBtn");
        report_img.setAttribute("src", "/static/img/report.png");
        report_img.setAttribute("width","25");
        report_img.setAttribute("height","19");
        report.appendChild(report_img);

        /* 신고 이벤트 추가 -> 모달창 생성*/
        report.onclick = function() {
            console.log("신고버튼 클릭")
            var modal = document.querySelector(".modal");
            var lane_id = pk
            console.log(lane_id)
            $('#Token').attr('value', lane_id);
            modal.classList.remove("hidden");
        };

        /* 신고 이벤트 추가 -> 모달창 끄기*/
        modalcloseBtn = document.querySelector(".closeBtn")
        modalcloseBtn.onclick = function() {
            console.log("모달창 끄기 버튼 클릭")
            var modal = document.querySelector(".modal");
            modal.classList.add("hidden");
        };

        /////////////////////////////////////////////////////////////////////////////////////////////////////////////////

        // bookmark div 생성
        var bookmark = document.createElement('div');
        bookmark.className = "bookmark";

        var bookmark_before_img = document.createElement("img");

        $.ajax({
            url: "{% url 'scrap' %}",
            async : false,
            type : "post",
            data :  {
                    part : 1,
                    pk : pk,
                    },
            dataType: "json",
            error: function (result) {
                console.log('error')
                },
            success: function (result) {
                if (result.status == 'yes') {
                    bookmark_before_img.setAttribute("src", "/static/img/bookmark-after.png");
                    } else {
                    bookmark_before_img.setAttribute("src", "/static/img/bookmark-before.png");
                    }
                }
        })

        
        bookmark_before_img.setAttribute("id", "before_img"+pk);
        
        bookmark_before_img.setAttribute("width","17");
        bookmark_before_img.setAttribute("height","17");
        bookmark.appendChild(bookmark_before_img);

        /* 북마크 이벤트 추가 */
        bookmark.onclick = function() {
            console.log("북마크버튼 클릭")

            $.ajax({
                url: "{% url 'scrap' %}",
                async : false,
                type : "post",
                data :  {
                        part : 2,
                        pk : pk,
                        },
                dataType: "json",
                error: function (result) {
                    console.log('error')
                    },
                success: function (result) {
                    if (result.status == 'create') {
                        var img1 = document.getElementById("before_img"+pk);
                        img1.src="/static/img/bookmark-after.png";
                        
                        } else {
                        var img1 = document.getElementById("before_img"+pk);
                        img1.src="/static/img/bookmark-before.png";
                        }
                    }
            })
        };
        
        ///////////////////////////////////////////////////////////////////////////////////////////


        // closeBtn div 생성
        var closeBtn = document.createElement('div');
        closeBtn.className = "close";

        // 닫기 이벤트 추가
        closeBtn.onclick = function() {
            overlay.setMap(null);
        };

        title.appendChild(closeBtn);
        title.appendChild(report);
        title.appendChild(bookmark);

        // 모든 내용이 담긴 title div를 title의 부모 div인 info div에 넣기
        info.appendChild(title);
        
        var body = document.createElement('div');
        body.className = "body";
        info.appendChild(body);

        var img = document.createElement('div');
        img.className = "img";
        body.appendChild(img);

        var body_img = document.createElement("img");
        body_img.setAttribute("src", "http://lanedetector.tk:8000/main/img/"+data.latitude+"&"+data.longitude+"/");
        body_img.setAttribute("width","340");
        body_img.setAttribute("height","200");
        img.appendChild(body_img);

        var desc = document.createElement('div');
        desc.className = "desc";
        body.appendChild(desc);

        var ellipsis = document.createElement('div');
        ellipsis.className = "ellipsis";
        ellipsis.appendChild(document.createTextNode('위도: ' + data.latitude + ' '));
        ellipsis.appendChild(document.createTextNode('경도: ' + data.longitude));
        
        desc.appendChild(ellipsis);
        
        {% endcomment %}
    }
    

    /* 검색한 마커 찍기 -> 검색한 마커를 메뉴와 지도에 표시하는 함수입니다 */ 
    function displaySearchMarker(data) { 
        var listEl = document.getElementById('placesList'), 
        menuEl = document.getElementById('menu_wrap'),
        fragment = document.createDocumentFragment(), 
        bounds = new kakao.maps.LatLngBounds(), 
        listStr = '';

        // 검색 결과 목록에 추가된 항목들을 제거합니다
        removeAllChildNods(listEl);

        // 지도에 표시되고 있는 마커를 제거합니다
        removeMarker();

        // 마커를 생성하고 지도에 표시합니다
        for(let i=0; i < gbl_search_data.length; i++){
            var data = gbl_search_data[i].fields;

            var address = data.road_address;
            var placePosition = new kakao.maps.LatLng(data.latitude, data.longitude),
                marker = addMarker(placePosition, i), 
                itemEl = getListItem(i, data); // 검색 결과 항목 Element를 생성합니다
    
            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);

            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function(marker, address) {
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                    displayInfowindow(marker, address);
                });

                kakao.maps.event.addListener(marker, 'mouseout', function() {
                    infowindow.close();
                });

                itemEl.onmouseover =  function () {
                    displayInfowindow(marker, address);
                };

                itemEl.onmouseout =  function () {
                    infowindow.close();
                };
            })(marker, data.road_address);


            fragment.appendChild(itemEl);
  
        }
        // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
        listEl.appendChild(fragment);
        menuEl.scrollTop = 0;

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
        map.setBounds(bounds);    
    }


    // 검색결과 항목을 Element로 반환하는 함수입니다
    function getListItem(index, data) {
        var el = document.createElement('li'),
        itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                    '<div class="menu_info">' +
                    '   <h5>' + data.road_address + '</h5>' +
                    '    <span>' + "위도: " + data.latitude+ '</span>' +
                    '    <span>' + "경도: " + data.longitude+ '</span>'+
                    '</div>';
                
        el.innerHTML = itemStr;
        el.className = 'item';

        return el;
    }

    // 검색된 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
    function addMarker(position, idx) {
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions =  {
                spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
                spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
                offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
                marker = new kakao.maps.Marker({
                position: position, // 마커의 위치
                image: markerImage 
            });

        marker.setMap(map); // 지도 위에 마커를 표출합니다
        markers.push(marker);  // 배열에 생성된 마커를 추가합니다

        return marker;
    }

    // 지도 위에 표시되고 있는 마커를 모두 제거합니다
    function removeMarker() {
        for ( var i = 0; i < markers.length; i++ ) {
            markers[i].setMap(null);
        }   
        markers = [];
    }
    // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i; 

        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild (paginationEl.lastChild);
        }

        for (i=1; i<=pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i===pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function(i) {
                    return function() {
                        pagination.gotoPage(i);
                    }
                })(i);
            }

            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

    // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
    // 인포윈도우에 장소명을 표시합니다
    function displayInfowindow(marker, address) {
        var content = '<div style="padding:5px;z-index:1;">' + address + '</div>';

        infowindow.setContent(content);
        infowindow.open(map, marker);
    }

    // 검색결과 목록의 자식 Element를 제거하는 함수입니다
    function removeAllChildNods(el) {   
        while (el.hasChildNodes()) {
            el.removeChild (el.lastChild);
        }
    }


    /* 사용자 컨트롤 */
    // 지도타입 컨트롤의 지도 또는 스카이뷰 버튼을 클릭하면 호출되어 지도타입을 바꾸는 함수입니다
    function setMapType(maptype) { 
        var roadmapControl = document.getElementById('btnRoadmap');
        var skyviewControl = document.getElementById('btnSkyview'); 
        if (maptype === 'roadmap') {
            map.setMapTypeId(kakao.maps.MapTypeId.ROADMAP);    
            roadmapControl.className = 'selected_btn';
            skyviewControl.className = 'btn';
        } else {
            map.setMapTypeId(kakao.maps.MapTypeId.HYBRID);    
            skyviewControl.className = 'selected_btn';
            roadmapControl.className = 'btn';
        }
    }
 

    // 지도 확대, 축소 컨트롤에서 확대 버튼을 누르면 호출되어 지도를 확대하는 함수입니다
    function zoomIn() {
        map.setLevel(map.getLevel() - 1);
    }

    // 지도 확대, 축소 컨트롤에서 축소 버튼을 누르면 호출되어 지도를 확대하는 함수입니다
    function zoomOut() {
        map.setLevel(map.getLevel() + 1);
    }
    
    
        
</script>

{% endblock %}