{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/config/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/config/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/config/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/Mainapp/mypage.css' %}" />

</head>

<body>
    <!-- {% include 'header.html' %} -->
    <div class="header_container">
        {% include 'header.html' %}
    </div>
    <div class="row">
        {% for scrap in user_scraps.all %}
        <div class="container">
            <div class="scrap_menubar">
                <button type="button" class="delete" onclick="scrap_del('{% url 'del_scrap' scrap.lane_id.id %}');"><img id="delete_btn" src="{% static 'img/delete.png' %}"></button>
            </div>
            <h3>위도: {{ scrap.lane_id.latitude }}</h3>
            <h3>경도: {{ scrap.lane_id.longitude }}</h3>
            <h3>주소: {{ scrap.lane_id.road_address }} 인근</h3>
            <div><img id="mypage_img" src="{% url 'img_load' scrap.lane_id.latitude scrap.lane_id.longitude %}"
                    width="300px" height="300px" alt="..." /></div>
        </div>
        {% endfor %}
    </div>
    <div class="download">
        <button id="download_btn" class="w-btn w-btn-indigo" type="button"
            onClick="location.href='{% url 'getCsv' %}'">csv로 내려 받기
        </button>

    </div> 
</body>
<script>
    function scrap_del(url){
          var res = confirm('게시글을 정말로 삭제하시겠습니까?');
          if(res){
            window.location.href = url
            alert("성공적으로 삭제되었습니다.");
          }
        }
    </script>
</html>
