<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>도로 정찰대🌆</title>
    <link rel="stylesheet" href="{% static 'css/config/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/config/footer.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/config/header.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Homeapp/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Homeapp/fullpage.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/Homeapp/fullpage.extensions.min.js' %}" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/Homeapp/fullpage.js' %}" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %} 
    {% block content %}
    {% endblock %} 
</body>

</html>